/* Base Style */
:root {
    --background-color: #fff;
    --background-color-secondary: #2381ad;
    --text-color: #fff;
    --text-color-secondary: #2e5ea5;
    --main-font: "Montserrat", serif;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 16px;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header {
    background-color: var(--background-color-secondary);
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-weight: 400;
}

main {
    margin: 1rem auto;
}

main h1 {
    color: var(--text-color-secondary);
    margin: 0;;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

main section {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 4px #ccc;
    color: var(--text-color-secondary);
    overflow: hidden;
}

main section h2 {
    background-color: var(--background-color-secondary);
    color: var(--text-color);
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.course-work {
    flex: 0 0 59%;
}

.madagascar {
    flex: 0 0 39%;
    text-align: center;
}

.courses {
    flex: 0 0 100%;
    margin-top: 1rem;
}

.courses-header {
    border-bottom: 1px solid var(--background-color-secondary);
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.courses-filter-btn {
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--text-color);
    flex: 0 0 20%;
    font-weight: 700;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}

.courses-credits {
    border-bottom: 1px solid var(--background-color-secondary);
    padding: 0.5rem;
    text-align: center;
}

.courses-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.course {
    background-color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    flex: 0 0 30%;
    font-weight: 700;
    padding: 1rem;
    text-align: center;

    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.course.show {
    opacity: 1;
    transform: translateY(0);
}

.course-completed {
    background-color: #66301D;
    color: var(--text-color);
}

header span {
    font-size: 2rem;
}

.my-photo {
    box-shadow: 0 0 4px #333;
    margin-right: 1rem;
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
}

nav {
    margin: 1rem -1rem -1rem -1rem;
}

nav ul {
    background-color: #333;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    flex: 1;
    text-align: center;
}

nav li.selected,
nav li:hover {
    background-color: gray;
}

nav a {
    color: #ebebeb;
    display: block;
    font-size: 1.1rem;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

footer {
    background-color: var(--background-color-secondary);
    font-size: 1.1rem;
    padding: 0 1rem;
    text-align: center;
}
